
<h1></h1>


<div id="table_content">
	<table>
		<tr>
			<th>Nom</th>
			<th>Classe </th>
			<th>Tache</th>
		</tr>
		
		<tr>
			<th>RAZAKAMARINASY Joddie Paggluica</th>
			<th>IGGLIA 4 </th>
			<th>Front-End</th>
		</tr>
		
		<tr>
			<th>ANDRIAMALALA Tsiorimanana Andrandraina </th>
			<th>IGGLIA 4 </th>
			<th>Front-End</th>
		</tr>
			
		<tr>
			<th>FANOMEZANTSOA Roland</th>
			<th>ISAIA 4  </th>
			<th>Back-End</th>
		</tr>


		<tr>
			<th>Tsanta </th>
			<th>ISAIA 4  </th>
			<th>Back-End</th>	
		</tr>
		
		<tr>
			<th>Gathy </th>
			<th>ISAIA 4  </th>
			<th>Back-End</th>		
		</tr>
		<!--<tr *ngFor="let obj of data">
			<td>{{ obj.id }}<hr></td>

			<td>{{ obj.classe }}<hr></td>
			<td>{{ obj.materiel }}<hr></td>
			<td>{{ obj.date }}<hr></td>
			
			

		</tr>-->
	</table>
</div>

		