th{
	border-collapse: collapse;
	border: 1px solid #000;
	text-align: center;
}
div#table_content{
	width: 100%;
	margin-top: 60px;
	padding-left:30%;
	padding-right:20%;
}
th,td{
	width: 15%;
}
h1{
	text-align: center;
}
hr{
	margin-top: 0;
}